body {
  background-color: #2b241c;
  color: #ECDFBD; }

a {
  color: #FB6648; }
  a:visited {
    color: #FB6648; }

.App {
  text-align: center; }

.editor, .previewer {
  min-height: 200px;
  height: 250px;
  margin-bottom: 20px; }

.editor {
  background-color: #ECDFBD;
  padding: 0px; }
  .editor textarea {
    width: 98%;
    height: 98%;
    margin: 0px;
    background: transparent;
    outline: none;
    resize: none;
    overflow: auto;
    color: #20457C;
    font-size: 1.3em; }

@media (min-width: 600px) {
  .editor, .previewer {
    height: 92.5vh;
    margin-bottom: 0px; }
  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .editor {
    background-color: #ECDFBD;
    padding: 0px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1; }
    .editor textarea {
      width: 98%;
      height: 99%;
      border: none; }
  .previewer {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1; } }
